.column1 {
   
    float: left;
    width: 25%;
}
.column2 {
    float: right;
    width: 75%;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    border-radius: 10px;
    object-fit: cover;
}
.sticky {
    position: fixed;
    top: 65px;
    width: 25%
}
html +.sticky {
    padding-top: 102px;
}
#hr1 {
    color:cornflowerblue;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.01em;
    margin-left: auto;
    margin-right: 2.5em;
    border-style: groove;
    border-width: 1px;
}
#hr2 {
    color: cornflowerblue;
    display: block;
    margin-top: 0.01em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: 3.5px;
    border-style: groove;
    border-width: 1px;
}