@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This site is created to search Github users from github.com using API avilable on Github.</p>

<p>created for Panviva</p>
