@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This site is created to search Github users from github.com using API avilable on Github.</p>
<p>It displays the following information from GitHub.
    <ul>
        <li>User ID</li>
        <li>User Image</li>
        <li>Link to the user profile on GitHub</li>
        <li>Number of followers of the users</li>
        <li>Number of people the user follows</li>
        <li>Number of public repos</li>
        <li>Number of public gists</li>
        <li>User bio</li>
        <li>User email</li>
        <li>User Blog</li>
        <li>Users company</li>
        <li>Users hirable status</li>
        <li>List people following the user</li>
        <li>List of people followd by the user</li>
        <li>List of public repos</li>
        <li>List of public gists</li>
    </ul>
    </p>
<p>created for Panviva</p>
