@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    1/359, Burwood Road<br />
    Hawthorn, VIC 3122<br />
    <abbr title="Phone">P:</abbr>
    420408014
</address>

<address>
    <strong>Personal:</strong> <a href="mailto:d08nirav@gmail.com">d08nirav@gmail.com</a><br />
    <strong>Student:</strong> <a href="mailto:nirav.desai@student.rmit.edu.au">nirav.desai@student.rmit.edu.au</a>
</address>
