@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1/359 Burwood Road<br />
    Hawthorn, VIC 3122<br />
    <abbr title="Phone">P:</abbr>
    420408014
</address>

<address>
    <strong>Support:</strong> <a href="d08nirav@gmail.com">d08nirav@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
